.btn-outline-success {
    border-color: grey;
    color: grey;
}

.btn-outline-success:hover {
    background-color: grey;
    border-color: grey;
}

.btn-outline-success:active {
    color: grey;
    border-color: grey;
}

.display-4{
    background-color: white;
    opacity:50%;
    text-align:center;
}

.jumbotron {
    background-image: url("../imgs/pizza.png");

}

@media only screen and (max-width: 500px) {
    .jumbotron {
       display:none;
    }
}

.card-header{
    background-color: #007bff;
    color:white;
    text-align:left;
}
.card-footer{
    text-align:right;
    font-size: 0.;
}

.list-group{
    text-align:left;
}
.list-group .header{
    background-color: #f7f7f7;
}
.custom-control{
    padding-left:0;

}

.hand-tossed{
    margin-bottom: 10px;
}

.cheeses{
    margin-bottom: 10px;
}

.meats{
    margin-bottom: 10px;
}

