

.btn-outline-success {
    border-color: grey;
    color: grey;
}

.btn-outline-success:hover {
    background-color: grey;
    border-color: grey;
}

.btn-outline-success:active {
    color: grey;
    border-color: grey;
}

#welcome-title{
    background-color:rgba(255,255,255,0.7); /*the a with the rgb is allowing us to play with the color*/
    text-align:center;
}

#main-jumbo {
    background-image: url("../imgs/pizza.png");
    background-size:cover; /*finds the best size of the image for the size*/
}

/*@media only screen and (max-width: 500px) {*/
/*    .jumbotron {*/
/*       display:none;*/
/*    }*/
/*}*/

.card-header{
    /*background-color: #007bff;*/
    color:white;
    text-align:left;
}
.card-footer{
    text-align:right;
}

.list-group{
    text-align:left;
}
.list-group .header{
    background-color: #f7f7f7;
}
.custom-control{
    padding-left:0;

}

.cheeses{
    margin-bottom: 10px;
}

.meats{
    margin-bottom: 10px;
}

