*{
    box-sizing: border-box;
    margin: 0;
    /*border: 5px solid black;*/
}

main{
    background-color: #D7CEC7;

}
body{
    font-family:"prata","spartan"
}

.top-header{
    margin-top: 50px;
    margin-bottom: 20px;
}

nav {
    display:flex;
    top: 0;
    width: 100%;
    position: fixed;
    z-index: 1000;
    border-bottom: 1px solid #ccc;
    background-color: white;
    padding-top:5px;

}


nav .top-navbar {
    display:flex;
    justify-content: space-around;
    list-style: none;
    padding: 2px 10px 10px 2px;
    font-size: 1.2em;
    margin-left:100px;

}

nav .logo{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    color:#96858F;
    align-items: center;
    font-size: 1em;
    font-weight: bolder;
    list-style: none;
    padding:0;
    margin-left: 20px;
}

nav .logo .slogan{
    font-size: 0.7em;
    padding-top: 5px;
}

nav ul a{
    display:flex;
    justify-content: space-around;
    color: #C0B283;
    text-decoration: none;
    font-size: .8em;
    padding: 5px 30px 2px 30px;
    margin: 5px;
}

nav ul a:hover {
    color: #6D7993;
}



.furniture-body{
    margin-top: 10px;
    padding-top: 30px;
}




.furniture-made{
    display:flex;
    justify-content: flex-start;


}
.pieces-of-funiture{
    display:grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 400px 400px;
    grid-gap: 1em;
    list-style:none;
    width:100%;
    height:100%;
    justify-content: space-evenly;
    padding:50px;
}

main{
    text-align: center;
}
main h1{
    margin-top: 50px;
    color:#96858F;;
    border: 2px dotted #D7CEC7;
    border-radius: 5px;
    display:inline-block;
    background-color: white;
}
.pieces-of-funiture li{
    border: 3px solid #D7CEC7;
    border-radius: 5px;
    box-shadow: 0 0 20px #96858F;
    /*transition: border .2s;*/
}

a:hover{
   background-color: #D7CEC7;
    opacity: 2;
}

img{
    opacity: 1.0;
    filter: alpha(opacity=40);
}

img:hover{
    opacity: 0.5;
    filter: alpha(opacity=100);
}
.console-table{
    grid-column: 1/span 1;
    grid-row : 1 / span 1;
}

.triangle-table{
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
}

.drink-cart {
    grid-column: 3 / span 1;
    grid-row: 1 / span 1;
}

.coat-rack {
    grid-column: 1/ span 1;
    grid-row: 2/ span 1;
}

.dining-table {
    grid-column: 3/ span 1;
    grid-row: 2/ span 1;

}

.dining-bench{
    grid-column: 2/ span 1;
    grid-row: 2/ span 1;
}

.footer-list {
    padding: 5px;
    letter-spacing: 2px;
}
.footer-list a{
    text-decoration: none;
    color: #6D7993;
    padding: 5px;
}

.bottom-footer ul{
    display:flex;
    justify-content: flex-end;
    padding: 1em;
    list-style: none;
    color: #6D7993;
    border-top: 1px solid #ccc;
    font-size: 0.8em;
}