body {
    margin: 0;
    font-family: Roboto, sans-serif;
    background: orange;
}
h1, h2, h3 {
    padding: 0;
    margin: 0;
    text-align: center;
}
h3 {
    color: grey;
}
hr {
    border-top: 1px solid whitesmoke;
    width: 90px;
}

/*this section was added with the exercise*/
header, main{
    width: 80%;
    max-width: 1300px;
    margin : 0 auto;
    padding: 1em;
    background: darkorange;

}
/*play with this section*/
main{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
    height : 120vh;
    align-content: flex-start;
    /* align content : on the cross axis and affects when there are multiple lines of contents. adjusting the space between the lines.
     */





}
.card {
    margin: .5em;
    border-radius: 2px;
    background: white;
    width: 250px;
    height: 350px;
    /*start code */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
img {
    border-radius: 120px;
    width: 120px;
}
i {
    color: grey;
}
.text-section {
    position: relative;
    bottom: 1.5em;
}
.icons i {
    font-size: 2.2em;
}