*{
    /*border: 2px dotted red;*/
    margin:0;
    font-family: Roboto, sans-serif;

}

header{
    margin: 0;
    padding:0;
    grid-column: 1 / span 3;
    grid-row: 1/ span 1;
}

.wrapper{
    display:grid;
    grid-template-columns: 1fr 50% 25%;
    grid-template-rows: 20% 1fr 1fr 1fr;

}

nav .navbar-top{
    margin: 2px;
    padding: 0;
}
.navbar-top{
    padding: 5px 5px 5px 0;
    background: black;
}

.navbar-top ul{
    display:flex;
    justify-content: flex-start;
    margin: 0;
    padding: 2px;
    list-style: none;

}

.navbar-top a{
    text-decoration: none;
    color: white;
    padding: 20px 20px 20px 10px;
    grid-row: 1/ span 1;
}

.menu {
    display:flex;
    grid-column: 1/span 1;
    grid-row: 2/ span 1;
    /*border: 1px solid black;*/
    background-color: lightgray;
    padding-top: 20px;
    font-weight: bolder;


}
.menu ul{
    list-style: none;
    padding: 10px;
}
.menu a{
    text-decoration: none;
    color: black;
}

.navbar-side{
    background-color: lightgray;
    grid-column: 1/ span 1;
    grid-row: 3/ span 1;
    /*border: 2px dotted green;*/
    width:

}
.navbar-side ul{
   margin-left: 0;
    padding-left: 10px;

}

.navbar-side li{
    list-style: none;
    padding: 5px;
}
.navbar-side a{
    text-decoration: none;
    color:black;

}