.fancy-header {
    color:lightblue;
    text-decoration: underline;

}

body{
    background-image:url("../imgs/dot-grid.png");
    font-family:'Nanum Myeongjo', SansSerif;

}

ul{
    list-style: circle;
}

ol{
    list-style:lower-roman;
}

td,th{
    border: 1px solid black;
    padding: 15px
}

a:link{
    color:black

}

