/*primary font-family: Raleway, sans-serif;*/
/*tablet width breakpoint:  992  px and below */
/*mobile width breakpoint:  600  px and below*/
/*content container width:  1400  px*/
/*footer is in a fluid container*/

* {
    font-family: Raleway, Sans-Serif;

}

body {
    background-color: #f1f1f1;
    width: auto;
}

h3{
    text-align: center;
}

/*header {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    justify-content: flex-end;*/
/*}*/

img.workshop {
    width: 10%;
    height: 10%;
}

.lorem-nextline {
    clear: both;
    display: inline-block;
    width: 100%;
}

.top-welcome-message {
    margin-bottom: 30px;

}

.card {
    width: 250px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 0 auto;
}


p.card-message {
    font-size: 0.6em;
}

.btn {
    font-size: 0.8em;
    border-radius: 0;
    border: 1px solid #d9d9d9;
    color: #131313;
    width: 120px;
}

.comments {
    font-size: 0.8em;
}

.about-me {
    font-size: 0.8em;
}


.badge-square {
    font-size: 0.5em;
    border-radius: 0;
}

.badge-round {
    font-size: 0.5em;
    border-radius: 50%;
}

.img {
    float: left;
    margin-right: 1rem;
    height: 50px;
    width: 50px;
}

.list-lines {
    overflow: auto; /* without overflow here, if the "Line 1" and "Line 2" is short then "Next elements" will display below "Line 2" and the image will cover the "Next elements"*/
}

.two-lines {
    float: left; /*without float here, if "Line 1" and "Line 2" is long -> text will display both at right and bottom the image*/
}

.second-line-font-size {
    font-size: 0.8em;
}

.btn-tags {
    display: table;
    width: auto;
    text-align: center;
    padding: 1px;
    margin: 5px;
    background-color: #f1f1f1;
}

.tags-bottom-page {
    /*overflow:auto;*/
    display: flex;

}

.btn-primary:hover {
    color: white;
    background-color: black;

}
